.cinemagraph h2 {
	text-align: center;
}

/* Intro Interface */
#frame1-start { width: 40%; }
#frame1-more { width: 40%; }

video {
	width: 200px;
}

/* Enable Camera Interface */
.enableCameraInterface .image {
	width: 200px;
	height: 150px;
	margin: auto;
	border: 1px solid #888;
	background-size: contain;
	background-repeat: no-repeat;
}
.cinemagraph-chrome .enableCameraInterface .image {
	background-image: url("../img/chrome_share.gif");
}
.cinemagraph-firefox .enableCameraInterface .image {
	background-image: url("../img/firefox_share.gif");
}


/* Record Interface */
.recordInterface .startRecording { }
.recordInterface .stopRecording { }
.recordInterface video {
	margin: 10px auto;
	display: block;
	border: 1px solid #000;
}
.recordInterface video.isRecording { 
	box-shadow: 0px 0px 5px #ff0000;
}


/* Edit Interface */
.editInterface .editSpace {
	position: relative;
	margin: 10px auto;
	display: block;
	border: 1px solid #000;
}
.editInterface .editSpace .zoneCanvas{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
}
.editInterface .navigation {
	margin: auto;
	width: 310px;
}
.editInterface .navigation .button {

}


/* Complete Interface */
.completeInterface img {
	margin: 10px auto;
	border: 1px solid black;
	display: block;
}

@media screen and (max-width: 400px) {
	video {
		width: 100%;
	}
}