body {
	background: #E3EAEE;
	font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4 {
	font-family: 'Open Sans Condensed', sans-serif;
}

#github img { position: absolute; top: 0; left: 0; border: 0; }

.content {
	width: 500px;
	margin: 20px auto;
	background: #ffffff;
	padding: 10px;
	border: 1px solid #CCCCCC;
}
#logo {
	margin: auto;
	background-image: url('../img/logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 70%;
	height: 100px;
	text-indent: -9999px;
	overflow: hidden;
	display: block;
}

#cinemagraph {
	width: 80%;
	margin: auto;
	padding: 10px;
}

.intro { display: none; }
.intro .navigation { margin: auto; width: 310px; }
.intro .navigation .button { margin: 10px; }

.button {
	display: inline-block;
	height: 50px;
	line-height:50px;
	margin: 5%;
	background: #FFCD36;
	cursor: pointer;
	text-align: center;
	color: #FFF;
	width: 90%;
}